{% extends 'quiz/base.html' %}

{% block body %}
<br><br><br><br>
<div class="container">
    <div class="text-center">
        <div class="card">
            <h1 style="font-family:'forte';color:mediumvioletred;">FUN CONNECT </u></h1>
            <h5 style="font-family:'sans-serif';"><u>ONLINE CONNECT APP FOR TEAM BONDING ACTIVITIES</u></h5>
            <br><br>
            <div class="text-center">
                <p>In this challenging times, our life has took a turn and everything about work has changed. 
                    We used to work offline and now we work remotely, which resulted in lesser interactions and 
                    bonding with colleagues. Even though we try to conduct online team fun activities and it never 
                    turns out that effective. In the current situation we are all able to manage work remotely but 
                    we are missing a great time that we would have spent with colleagues and friends. 
                    And we are missing that great opportunity. As we all know humans are social animals and it is very 
                    important to keep our social interactions active. 
                    Which is getting a challenge nowadays. Now we have our FunConnect app to conduct app for our games and dont miss out any fun ;)</p>
                    <a href="{% url 'index' %}" class="btn btn-success">Start Fun Games</a>
                    <br><br>
            </div>
        </div>
    </div>
</div>


{% endblock %}