{% extends 'quiz/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunConnect</title>
    </head>
<body>
    {% block body %}
    {% for game in game_list %}
    <br>
    <br>
    <div class="row">
        <div class="col-md-3 offset-md-2">
            <img class="card" height="150px" width="150px" src="{{ game.game_img }}">
        </div>
        <div class="col-md-4">
            <h3>{{ game.game_name }}</h3>
            <h5>{{ game.game_desc }}</h5>
        </div>
        <div class="col-md-2">
            <a href="{% url 'detail'  game.id %}" class="btn btn-success">Play</a>
        </div>
        
    </div>   

       
    {% endfor %}
    {% endblock %}
     
</body>
</html>