{% extends 'users/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <br>
    <div class="section-1-container section-container ">
        <div class="container card ">
            <div>
            <font size="5" face="forte" color="darkblue">
                <h1 class="text-center">Register</h1>
                <br>
            </font>
        </div>
            <div class="row">
                <br><br>
                <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
     
                    <div class="div-to-align">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <!-- <table>
                            {% for field in form %}                            
                            <tr ><td>{{ field.name }}</td> <td>{{ field }}</td></tr>
                            <tr> </tr>
                            {% endfor %}
                            </table>
                            <br> -->
                            <div class="text-center">
                            <button class="btn-primary" type="submit">Sign up</button>
                            </div>
                            <br><br><br>
                        </form>
                         
                    </div>
     
                </div>
            </div>
        </div>
    </div>

    
    {% endblock %}
</body>
</html>
